{% extends 'layout' %}

{% block body %}
    {% if session_has('success') %}
        <div style="background:#CFC">
            {{ session_get('success') }}
        </div>
    {% endif %}
    {% if session_has('error') %}
        <div style="background:#FCC">
            {{ session_get('error') }}
        </div>
    {% endif %}
    
    {% if last_purchase %}
        <div>
            <div>Last Purchase:</div>
            {{ dump(last_purchase.toArray()) }}
        </div>
    {% endif %}
    
    <div>
        <div>Logged in as: {{ shop.shop_domain }} (#{{ shop.id }})</div>
        {{ dump(shop.toArray()) }}
    </div>
    <div>
        <div>Plan:</div>
        {{ dump(shop.plan.toArray()) }}
    </div>
    <div>
        <div>Subscription history:</div>
        {{ dump(shop.subscriptions.toArray()) }}
    </div>
    <div>
        <div>Purchase history</div>
        {{ dump(shop.purchases.toArray()) }}
    </div>
    <div>
        <div>Token history</div>
        {{ dump(shop.tokenChanges.toArray()) }}
    </div>
    <div>
        <div>Tokens: {{ shop.getTokens() }} / {{ shop.getTokenLimit() }}</div>
    </div>
    <div>
        <div>Usage: {{ shop.getUsage() }} / {{ shop.getUsageLimit() }}</div>
    </div>
    <br><br><br>
    <div>
        <div>Switch to plan:</div>
        <form method="post" action="/app/switch-plan">
            {{ csrf_field() }}
            <select name="plan_id">
                {% for plan in plans %}
                    <option value="{{ plan.id }}">{{ plan.name }}</option>
                {% endfor %}
            </select>
            <button type="submit">
                Switch
            </button>
        </form>
    </div>
    <div>
        <div>Make payment:</div>
        <form method="post" action="/app/pay-ten">
            {{ csrf_field() }}
            <button type="submit">
                $10
            </button>
        </form>
        <form method="post" action="/app/pay-twenty">
            {{ csrf_field() }}
            <button type="submit">
                $20
            </button>
        </form>
    </div>
    <div>
        <div>Consume tokens:</div>
        <form method="post" action="/app/tokens-ten">
            {{ csrf_field() }}
            <button type="submit">
                10
            </button>
        </form>
        <form method="post" action="/app/tokens-one">
            {{ csrf_field() }}
            <button type="submit">
                1
            </button>
        </form>
    </div>
    <div>
        <div>Consume usage:</div>
        <form method="post" action="/app/usage-ten">
            {{ csrf_field() }}
            <button type="submit">
                $10
            </button>
        </form>
        <form method="post" action="/app/usage-one">
            {{ csrf_field() }}
            <button type="submit">
                $1
            </button>
        </form>
    </div>
{% endblock %}