<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
        <script type="text/javascript">
            ShopifyApp.init({
                apiKey: '{{ config_get('esc_shopify.public_credentials.api_key') }}',
                shopOrigin: 'https://{{ shop.shop_domain }}'
            });
        </script>
    </head>
    <body>
       {{ block('body') }} 
    </body>
</html>